/* ===== GERAL ===== */
body {
    background: #03091a;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===== HEADER ===== */
header {
    width: 100%;
    box-shadow: 1px 1px 10px rgb(41, 26, 158);
    padding: 0;
    box-sizing: border-box;
    background: #050d25;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

.logo {
    width: 110px;
}

/* ===== NAV ===== */
nav {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

nav a {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;

    background: linear-gradient(135deg, #0a1a3d, #0b2a68, #153a9e);
    border: 2px solid #5ecbff;
    border-radius: 10px;

    color: #ffffff;
    text-decoration: none;

    box-shadow: 0 0 10px #5ecbff88,
                inset 0 0 8px #5ecbff33;

    transition: 0.25s ease;
}

nav a:hover {
    transform: scale(1.08);
    box-shadow: 0 0 18px #72e2ffcc,
                0 0 30px #72e2ff88,
                inset 0 0 12px #72e2ff55;
    border-color: #72e2ff;
}

/* ===== MAIN (PÁGINA INICIAL) ===== */
.inicio-content {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto; /* centraliza horizontal */
    padding: 50px 50px;

    background: #00000030;  
    border-radius: 15px;
    border: 1px solid #ffffff22;
    box-shadow: 0 0 20px #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.foguete {
    height: 200px;
    margin-bottom: 20px;
}

.inicio-content p {
    font-size: 20px;
    margin-bottom: 25px;
}

/* ===== BOTÃO JOGAR ===== */
.btn {
    display: inline-block;
    padding: 8px 20px; /* igual nav a */
    font-size: 16px;   
    font-weight: bold;

    background: linear-gradient(135deg, #0a1a3d, #0b2a68, #153a9e);
    border: 2px solid #5ecbff;
    border-radius: 10px;

    color: #ffffff;
    text-decoration: none;

    box-shadow: 0 0 10px #5ecbff88,
                inset 0 0 8px #5ecbff33;

    transition: 0.25s ease;
}

.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 18px #72e2ffcc,
                0 0 30px #72e2ff88,
                inset 0 0 12px #72e2ff55;
    border-color: #72e2ff;
}

/* ===== FOOTER ===== */
footer {
    padding: 20px;
    font-size: 14px;
    color: #8da3c6;
    text-align: left;
    background: #050d25;
    box-shadow: 0 -1px 10px rgb(41, 26, 158);
    margin-top: auto; /* empurra o footer para baixo */
}
